#canvas, img {
    position: absolute;
    left: 10vw;
    top: 10vh;
    width: 80vw;
    height: 80vh;
}

.square {
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    position: fixed;
    left: 20vw;
    top: 20vh;
    width: 100px;
    height: 100px;
}
