# Project files
.idea
.idea/
*.iml

# Build files
target/
dependency-reduced-pom.xml

# Java files
*.jar
*.class

# Python files
*.pyc

# Visual Studio Code and Extensions settings
.vscode/
.project
.classpath
.settings

# Build/Run scripts
build
run
/bin/

# OCR Tool Directory
/ssocr

# CLion
/daemon/cmake-build-debug

# C++ files
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app 
