# Project files
.idea
.idea/
*.iml

# Build files
target/

# Java files
*.jar
*.class

# Python files
*.pyc

# Visual Studio Code and Extensions settings
.vscode/
.project
.classpath
.settings

# Build/Run scripts
build
run
/bin/

# OCR Tool Directory
/ssocr
