<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="myStyle.css">
    <script src="functions.js"></script>
</head>

<body>
    <div id=first_screen>
        <div id="choose_component">
            <div id="lcd1" class="component" style="width:36.5vw; height: 22vh; left: 3vw; top:5vh" onclick="do_select('lcd1')"><span class="config"></span></div>
            <div id="lcd2" class="component" style="width:36.5vw; height: 22vh; right: 3vw; top:5vh" onclick="do_select('lc21')"><span class="config"></span></div>
            <div id="lcd3" class="component" style="width:18vw; height: 23vh; left:3vw; top:28vh" onclick="do_select('lcd3')"><span class="config"></span></div>
            <div id="lcd4" class="component" style="width:18vw; height: 23vh; right:3vw; top:28vh" onclick="do_select('lcd4')"><span class="config"></span></div>
            <div id="lcd5" class="component" style="width:18vw; height: 23vh; left:3vw; bottom:5vh" onclick="do_select('lcd5')"><span class="config"></span></div>
            <div id="lcd6" class="component" style="width:18vw; height: 23vh; right:3vw; bottom:5vh" onclick="do_select('lcd6')"><span class="config"></span></div>
            <div id="graph" class="component" style="width:36vw; height: 37vh; left:22vw; bottom:15vh" onclick="do_select('graph')"><span class="config"></span></div>
            <div id="text" class="component" style="width:36vw; height: 9vh; left:22vw; bottom:5vh" onclick="do_select('text')"><span class="config"></span></div>
        </div>
        <a href="/">
            <div class="button" id="done_selection_button">
                <h2>Done</h2>
            </div>
        </a>
    </div>

    <div id="select_pane">
        <img src="/video_feed"></img>
        <div onmousedown="mouse_down(event)" id="canvas"></div>
    </div>
</body>

</html>
